<% include partials/header %>

<!-- Bootstrap for width / centering -->
<div class="container-fluid">
<div class="container">

<br />
<br />
<h1> Local Electronic Resources -- Demo Page </h1>
<br />
<p> Note that in the real site, these URLs will be loaded into Alma and this page will not exist.</p>
<br />
<a href="document/1048-7662">Document Page: Weekly Railroad Traffic (ISSN 1048-7662)</a> <br />
<a href="document/BadIdentifier">Document Page: Bad Identifier</a>
<br />
<a href="password/(OCoLC)935935216">Password Page: Lion's Roar (OCLC 935935216) </a> <br />
<a href="password/BadIdentifier">Password Page: Bad Identifier </a>
<br />
<br />


</div>
</div>

<% include partials/footer %>