<% include partials/header %>

<!-- Bootstrap for width / centering -->
<div class="container-fluid">
<div class="container">

<br />
<br />

<h1>Internal Error</h1>
<p class="text-center"> Could not locate local electronic resource with ID <%= id %>.<br/>
Please contact <a href="mailto: library@northwestern.edu">library@northwestern.edu</a> with this error message and the name of the resource you were trying to access for assistance retreiving this resource.</p>

</div>
</div>

<% include partials/footer %>
