<% include partials/header %>

<!-- Bootstrap for width / centering -->
<div class="container-fluid">
<div class="container">

<br />
<br />

<h1>Error: Bad Identifier</h1>
<p class="text-center"> Could not locate resource with ID <%= id %>.<br/>
Please contact EMAIL with this error message for help retreiving this resource.</p>

</div>
</div>

<% include partials/footer %>